<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="网络梗图,梗图,Meme,摸鱼" />
    <meta name="description" content="网络梗图,梗图" />
    <title>D42X {% block title %} {% endblock %}</title>
    <link href="/wwwroot/main.css" rel="stylesheet" />
    {% block head %} {% endblock %}
  </head>
  <body>
    <div class="w-full max-w-5xl m-auto pt-16 pb-16 px-4">
      <h1 class="text-4xl font-bold">
        D42X
        <span class="text-sm font-medium">- 呼唤爱与和平</span>
      </h1>
      <div class="pt-16 flex gap-4">
        {# Category List #}
        <section class="hidden md:block min-w-48 w-48">
          {% include "category.html" %}
        </section>

        <section class="flex grow">
          {% block content %} {% endblock %} {% block script %} {% endblock %}
        </section>

        <section class="hidden md:block min-w-48 w-48"></section>
      </div>
    </div>
    <footer
      class="footer sm:footer-horizontal footer-center bg-base-300 text-base-content p-4"
    >
      <aside>
        <p>
          Copyright © <span id="nowYear"></span> - All right reserved by D42X
          Dvorak
        </p>
        <p>备114514</p>
      </aside>
    </footer>
    <script src="/wwwroot/base.js" defer></script>
    <script>
      document.getElementById("nowYear").innerText = new Date().getFullYear();
    </script>
  </body>
</html>
